{% extends "layout.html" %}

{% block content %}
    <div class="homeScreen">
        <h1>End of game</h1>
        <h3> {{winner}} is the winner of the game!</h3>
        <br><br>
        <h3>final scores:</h3>
        <table class="gameScore" style="width: 100%; text-align: center">
            <tr>
                <th>Player One</th>
                <th>{{otherPlayer}}</th>
            </tr>
            {% if scoreList %}
                {%  for scorePairs in scoreList.split(':')%}
                <tr>
                    {% for score in scorePairs.split(',')%}
                    <td>{{score}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr style="font-weight: bold">
                    <td>{{playerScores}}</td>
                    <td>{{computerScore}}</td>
                </tr>
            {% endif %}
        </table>
        <form action="/">
            <input type="submit" title="Go Home" value="Go Home">
        </form>
    </div>
{% endblock content %} 
