{% extends "layout.html" %}

{% block content %}
    <div class="homeScreen">
        <h1> Scrabble Scrambler 1.0 </h1>
        <h2>Welcome to The world of Scrabble!</h2>
        <br />
        <form action="/routingToGame">
            <input type="radio" name="language" value="icelandic" checked> Icelandic<br>
            <input type="radio" name="language" value="english"> English<br>
            <input type="radio" name="language" value="danish"> Danish<br>
            <br />
            <input type="radio" name="game" value="playerVsComputer" checked> Player Vs Computer<br>
            <input type="radio" name="game" value="twoPlayer"> Two Player<br>
            <input type="submit" value="submit">
        </form>
    </div>
    <div>
        <h2>How to play:</h2>
        <p>In every round you get 10 letters, and the goal is to get as many words from the letters as possible.</p>
        <p>after finding word, push "submit". when you can't find any more words, push "Give up" and your score is saved</p>
        <p>Good luck and have fun!</p>
    </div>

{% endblock content %} 


