
{% extends "layout.html" %}
{%  block title %}p1 vs p2{% endblock %}

{% block content %}
    <div id="gameContainer">
        <div id="box1">
            <p>{{ language.capitalize() }}</p>
            <div id="logoContainer">
                <a href="/home"><img alt="logo" src="../static/logo.png" /> </a>
            </div>
            <div class="scoreBoard">
                <div class="gameScore">
                    <table>
                      <tr>
                        <th>Player1</th>
                        <th>Player2</th>
                      </tr>
                      {% if scoreList %}
                        {%  for scorePairs in scoreList.split(':')%}
                        <tr>
                                {% for score in scorePairs.split(',')%}
                                    <td>{{ score }}</td>
                                {% endfor %}
                        </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                </div>
                <div class="gameWords">
                    <div>
                        {% if turn == '1' %}
                            <h3>Player One Turn</h3>
                        {% else %}
                            <h3>Player Two Turn</h3>
                        {% endif %}
                    </div>
                    <ul>
                        {%  for word in wordList.split(':')%}
                            <li>{{word}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="gameBoard">

            </div>
        </div>
        <div id="box2">
            <div id="lettersContainer">
                {% for letter in l %}
                        <div class="letterBox">
                        <h1>
                            {{ letter[0] }}
                        </h1>
                            {%   if letter[0] != ' ' %}
                            <h3>
                                {{ letter[1] }}
                            </h3>
                            {% endif %}
                        </div>
                {% endfor %}
            </div>
        </div>
        
        <form class="btnRight" action="/twoPlayer" method="POST">
            <input type="hidden" name="scoreList" value="{{scoreList}}" >
            <input type="hidden" name="language" value="{{language}}" >
            <input type="hidden" name="randLettersString" value="{{randLettersString}}" >
            <input type="hidden" name="wordList" value="{{wordList}}" >
            <input type="hidden" name="turn" value="{{ turn }}" >
            <input type="submit" value="GIVE UP">
        </form>

        <form class="btnLeft" action="/twoPlayerGame" method="POST">
            <input type="hidden" name="compWord" value="{{compWord}}" >
            <input type="hidden" name="scoreList" value="{{scoreList}}" >
            <input type="hidden" id="userWord" name="userWord" value="" >
            <input type="hidden" name="language" value="{{language}}" >
            <input type="hidden" name="randLettersString" value="{{randLettersString}}" >
            <input type="hidden" name="wordList" value="{{wordList}}" >
            <input type="hidden" name="turn" value="{{ turn }}" >
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}

